

.heart {
 position: absolute;
 flex-direction: column;
 height: 120px;
 padding: 0;
 margin-top: 170px;
 margin-left: 90px;
 display: flex;
 justify-content: center;
 align-items: center;
 filter: invert(14%) sepia(78%) saturate(4492%) hue-rotate(359deg) brightness(114%) contrast(110%);
 opacity: 0.2;}


.vote {
  color: antiquewhite;
  position: absolute;
  flex-direction: column;
  padding:0;
  font-size: 30px;
   display: flex;
  justify-content: center;
  align-items: center;
   opacity: 0.3;
   margin-top: 205px;
   margin-left: 115px;
}


