.movieinfo {
  padding: 40px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  justify-content: space-evenly;
  align-items: flex-start;
  animation: animateMovieinfo 0.3;
}


@keyframes animateMovieinfo {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.imdb {
  width: 50px;
  display: inline;
  border: none;
}

.imdb:hover {
  border-style: solid;
  border-color: springgreen;
  opacity: 0.4;
  border-width: 2px;
  border-radius: 3px;
}

.movieinfo-content {
  max-width: 1280px;
  
  margin: 30px;
  background: rgb(10,16,20);
  position: relative;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
}
.movieinfo-thumb .heart{
  display: none;
  
}

.movieinfo-thumb {
  display: flex;
  flex-basis: auto;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 25px;
    min-width: 30%;
    object-fit: cover;
    width: 466px;
    height: 622px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.movieinfo-text{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
align-items:flex-start ;
flex-direction: column;
font-family: 'Roboto', sans-serif;
 color: white;
 margin-left: 45px;
 margin-bottom: 15px;
 margin-top: 15px;

}


.movieinfo-text h1{
  font-size: 5rem;
  margin-bottom: 15px;
  margin-top: 15px;


}

.movieinfo-text p{
width: 564px;
margin-bottom: 15px;
margin-top: 15px;

}

meter::-webkit-meter-bar {
  background: #FFF;
  width:300px;
  margin-bottom: 15px;
  margin-top: 15px;
}
meter::-webkit-meter-optimum-value {
  background: linear-gradient(to bottom, #16d47b);
}
meter::-webkit-meter-suboptimum-value {
  background: linear-gradient(to bottom, #fbb450);
}
meter::-webkit-meter-even-less-good-value {
  background: linear-gradient(to bottom, #ee5f5b);
}

.actor {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: #0A1014;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-top: 15px;
}


.actor img{
  display: flex;
  width: 185px;
  border-radius: 8px;
  -webkit-box-shadow: -30px 19px 5px 3px rgba(9,15,19,0.67);
box-shadow: 30px 19px 5px 3px rgba(0,0,0,0.67);
  height: 278px;
  margin-left: 20%;
  margin-bottom: 15%;

  align-self: center;
}

.actor img:hover{
  transform: scale(1.1);
}
.actor-character {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color:#fff;
  margin: 10px;

}
.act{
 margin-left: 20px;
 margin-bottom: 15px;
 margin-top: 15px;
}